* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background: linear-gradient(rgb(255, 217, 0), blue);
  background-repeat: no-repeat;
  height: 100vh;
}
.weatherReport {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.search_field {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.search_field input {
  width:100%;
  border: 0;
  outline: 0;
  background-color: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  font-size: 18px;
}
.search_field button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.search_field button img {
  width: 20px;
}
.weather-icon {
  width: 170px;
  margin-top: 30px;
}
.weather_name {
  margin: -20px 0 20px 0;
  letter-spacing: 1px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.weather h2 {
  font-size: 40px;
  font-weight: 400;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 40px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;
}
.humidity,
.wind {
  font-size: 28px;
  margin-top: -4px;
}
.weather {
  display: none;
}
.weather .city {
  letter-spacing: 1.5px;
}

.error {
  display: none;
  text-align: left;
  margin-left: 25px;
  font-size: 18px;
  margin-top: 10px;
}
